<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129386349443-4rt0t8ckvlvk5dh9509sr6dk16rfue1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129386349443-4rt0t8ckvlvk5dh9509sr6dk16rfue1l</string>
	<key>API_KEY</key>
	<string>AIzaSyD-uHWHmKSD0PYQ5fuf1wsyv71afTOGyFY</string>
	<key>GCM_SENDER_ID</key>
	<string>129386349443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gribbz.flash-chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-d2bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-d2bcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129386349443:ios:37f68cfb7a724acbbf2cb6</string>
</dict>
</plist>